<%- include("templates/cabecera",{titulo:"Detalle Usuario"}) %>

<div class="container">
    <h1>Detalle del Usuario</h1>

    <% if (error) { %>
        <p><%= mensaje %></p>
        <a href="/usuarios" class="btn btn-dark my-2">
            Volver
        </a>
    <% } %>

    <% if (!error) { %>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Correo</th>
                    <th>Rol</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><%= usuario._id %></td>
                    <td><%= usuario.nombre %></td>
                    <td><%= usuario.correo %></td>
                    <td><%= usuario.rol %></td>
                    <td>
                        <form action="/usuarios/eliminar/<%= usuario._id %>" method="POST">
                            <button class="btn btn-danger btn-sm">
                                Eliminar
                            </button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>

        <a href="/usuarios" class="btn btn-dark">
            Volver
        </a>
    <% } %>
</div>

<%- include("templates/cierre") %>
