<%- include("templates/cabecera", {titulo: 'Detalles del Usuario' }) %>
<div class="container">
    <h1>Detalles del Usuario</h1>
    <% if (error) { %>
        <%= mensaje %> 
        <a href="/usuarios" class="btn btn-dark btn-block my-2">Volver</a>
    <% } %>
    <% if (!error) { %>
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>ID Usuario</th>
                    <th>Nombre</th>
                    <th>Correo</th>
                    <th>Rol</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row"><%= usuario._id %></th>
                    <td><%= usuario.id_usuario %></td>
                    <td><%= usuario.nombre %></td>
                    <td><%= usuario.correo %></td>
                    <td><%= usuario.rol %></td>
                    <td>
                        <button class="btn btn-danger btn-sm" data-id="<%= usuario._id %>">Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    <% } %>
</div>
<%- include("templates/cierre") %>
