<%- include("templates/cabecera",{titulo:"Usuarios"}) %>

<div class="container">
    <h1>Usuarios</h1>

    <a class="btn btn-success my-4" href="/usuarios/crear">Crear nuevo usuario</a>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Correo</th>
                <th>Rol</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            <% arrayUsuarios.forEach(usuario => { %>
                <tr>
                    <td><%= usuario._id %></td>
                    <td><%= usuario.nombre %></td>
                    <td><%= usuario.correo %></td>
                    <td><%= usuario.rol %></td>
                    <td>
                        <a href="/usuarios/<%= usuario._id %>" class="btn btn-warning btn-sm">
                            Editar / Eliminar
                        </a>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</div>

<%- include("templates/cierre") %>
